<!DOCTYPE html>
<html >

<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
<!-- Add icon library -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <style>
  .btn {
    background-color: #753232;
    border: none;
    color: white;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
  }

  /* Darker background on mouse-over */
  .btn:hover {
    background-color: #4a1919;
  }
  </style>

  <form action="https://movies-recommender-app.herokuapp.com/home">
  <button class="btn"><i class="fa fa-home"></i> Home</button>
  </form>  

  
  <div class="body">

  <h1>Movie Recommender<br /> <link rel="stylesheet" href="static/style.css" /></h1>
  <div class="wrapper">
    <link rel="stylesheet" href="static/style.css" />
    <form action="predict" method="post">
    <input name="movie" class="search" type="text" id="movie" placeholder="Enter Movie name here" />
    <link rel="stylesheet" href="static/style.css" />
    <!-- <input class="submit" type="submit" value="Submit" /> -->
    <button class="submit" type="submit" class="btn btn-primary btn-block btn-large">Submit</button>
  </form>
    <link rel="stylesheet" href="static/style.css" />
  </div>

  <h2>Click Submit to get recommendations <link rel="stylesheet" href="static/style.css" /></h2>

<br>
<br>

</div>

</head>
</html>
